body {
  margin: auto;
  padding: 0;
  width: 80%;
}

.highlighted-subject {
  display: flex;
  justify-content: center;
}

.subject-title {
  margin-bottom: 5px;
  text-align: center;
}

.subject-details {
  padding: 10px;
  margin: 0 10px 10px 10px;
  display: inline-block;
  text-align: center;
  font-weight: bold;
  background-color: rgba(2, 164, 236, 0.15);
}
