<div style="text-align: center; margin-top: 30px;">
  <hr />
  <footer style="margin-top: 30px;">
    If you have any questions feel free to contact us by 
    <a href="mailto:<%= contactEmail %>">email</a> or by phone at 
    <a href="tel:<%= contactPhone %>"><%= contactPhone %></a>
  </footer>
</div>