<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Princeton Groundwater</title>

  <style>
    body {
      margin: auto;
      padding: 30px;
      width: 80%;
    }

    h2 {
      text-align: center;
    }

    table {
      margin: auto;
    }

    th {
      text-align: left;
    }

    td {
      text-align: center;
    }

    .highlighted-subject {
      display: flex;
      justify-content: center;
    }

    .subject-title {
      margin-bottom: 5px;
      text-align: center;
    }

    .subject-details {
      padding: 10px;
      margin: 0 10px 10px 10px;
      display: inline-block;
      text-align: center;
      font-weight: bold;
      background-color: rgba(2, 164, 236, 0.15);
    }
  </style>
</head>
